<!DOCTYPE html>
<html>
<head>
	<title>Ranking do EU27</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	<style>
	body {
		display: flex;
		text-align: center;
		background: #495d6e;
	}
	.chart-container {
		border: 1px solid #aaa;
		border-right-width: 0;
		background: white;
		box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
	}
	#controls {
		display: block;
		padding-top: 4vh;
		padding-left: 2vh;
		width: 45vh;
		border: 1px solid #aaa;
		background: white;
		box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
	}
	#minpower,#maxpower {
		width: 90%;
	}
	</style>
</head>
<body>
	<div class="chart-container" style="position: relative; width:130vh">
		<canvas id="chart"/>
	</div>
	<div id="controls">
		<p>Poder mínimo:</p>
		<input type="range" id="minpower" step="1000"/>
		<p>Poder máximo:</p>
		<input type="range" id="maxpower" step="1000"/>
	</div>
	<script>
		const None = null;
		const chartColor = 'rgb(0, 71, 145)';
		const ctx = document.getElementById('chart').getContext('2d');
		myChart = new Chart(ctx, {
			type: 'line',
			data:{},
			options: {
				plugins: {
					title: {
						text: 'EU27 Player Ranking',
						display: true
					},
					legend:{display: false},
					chartAreaBorder: {
						borderColor: 'black',
        				borderWidth: 1
					}
				},
				responsive: true,
				aspectRatio: 1.5,
				elements: {
					line: {
						borderColor: chartColor,
						cubicInterpolationMode: 'monotone',
						tension: 0.1,
						borderWidth: 1,
					}
				},
				scales: {
					x:{
						ticks: {suggestedMin: '2022/11/11'},
					},
					y: {
						ticks: {
					    	callback: (value, index, values) => (index == (values.length-1)) ? undefined : value,
						}
					}
				}
			}
		});
		function addCharacters(characternames){
			characternames.forEach((element) => {
				myChart.data.datasets.push({
					label: element,
				});
			});
			myChart.update();
		}
		function populateHistory(history){
			let i = 0;
			myChart.data.datasets.forEach((element) => {
				myChart.data.labels = history[0][1];
				history[i][0].forEach((element2) => {
					y = history[i][0];
					myChart.data.datasets[i].data = y;
				});
				i+=1;
			});
			myChart.update('none');
		}
		characternames = {{ characternames|safe }};
		ps_history = {{ powerscore_history|safe }};
		addCharacters(characternames);
		populateHistory(ps_history)

		ps_min = ps_history[ps_history.length-1][0].find(i_powerscore => !!i_powerscore) - 10000;
		ps_max = ps_history[0][0][ps_history[0][0].length - 1] + 10000;

		document.querySelector('#minpower').min = ps_min;
		document.querySelector('#minpower').max = ps_max;
		document.querySelector('#maxpower').min = ps_min;
		document.querySelector('#maxpower').max = ps_max;
		myChart.options.scales.y.min = ps_min;
		myChart.options.scales.y.max = ps_max;

		document.querySelector('#minpower').value = 0;
		document.querySelector('#maxpower').value = ps_max;

		document.querySelector('#minpower').addEventListener('input', (event) => {
			myChart.options.scales.y.min = document.querySelector('#minpower').value;
			myChart.update('none');
		});

		document.querySelector('#maxpower').addEventListener('input', (event) => {
			myChart.options.scales.y.max = document.querySelector('#maxpower').value;
			myChart.update('none');
		});


		myChart.update('none');

		console.log({{ powerscore_history|safe }});
	</script>
</body>
</html>
