<!DOCTYPE html>
<html>
<head>
	<title>Ranking do EU27</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	<style>
	body {
		display: flex;
	}
	#controls {
		display: block;
		padding-top: 4vh;
		width: 40vh;
	}
	</style>
</head>
<body>
	<div class="chart-container" style="position: relative; width:130vh">
		<canvas id="chart"/>
	</div>
	<div id="controls">
		<p>Poder mínimo:</p>
		<input type="range" id="minpower"/>
		<p>Poder máximo:</p>
		<input type="range" id="maxpower"/>
	</div>
	<script>
		const chartColor = 'rgb(75, 192, 192)';
		const ctx = document.getElementById('chart').getContext('2d');
		myChart = new Chart(ctx, {
			type: 'line',
			data:{},
			options: {
				plugins: {
					title: {
						text: 'EU27 Player Ranking',
						display: true
					},
					legend:{display: false}
				},
				responsive: true,
				aspectRatio: 1.5,
				elements: {
					line: {
						borderColor: chartColor,
						cubicInterpolationMode: 'monotone',
						tension: 0.1,
						borderWidth: 1,
					},
					point: {
						pointStyle: 'dash'
					}
				},
				scales: {
					y: {
						ticks: {
					    	callback: (value, index, values) => (index == (values.length-1)) ? undefined : value,
						},
						type: 'logarithmic'
					}
				}
			}
		});
		function addCharacters(characternames){
			characternames.forEach((element) => {
				myChart.data.datasets.push({
					label: element,
				});
			});
			myChart.update();
		}
		function populateHistory(history){
			let i = 0;
			myChart.data.datasets.forEach((element) => {
				myChart.data.labels = history[0][1];
				history[i][0].forEach((element2) => {
					y = history[i][0];
					myChart.data.datasets[i].data = y;
				});
				i+=1;
			});
			myChart.update('none');
		}
		characternames = {{ characternames|safe }};
		ps_history = {{ powerscore_history|safe }};
		addCharacters(characternames);
		populateHistory(ps_history)

		ps_min = ps_history[ps_history.length-1][0][0];
		ps_max = ps_history[0][0][ps_history[0][0].length - 1] + 10000;

		document.querySelector('#minpower').min = ps_min;
		document.querySelector('#minpower').max = ps_max;
		document.querySelector('#maxpower').min = ps_min;
		document.querySelector('#maxpower').max = ps_max;
		myChart.options.scales.y.min = ps_min;
		myChart.options.scales.y.max = ps_max;

		document.querySelector('#minpower').value = 0;
		document.querySelector('#maxpower').value = ps_max;

		document.querySelector('#minpower').addEventListener('change', (event) => {
			myChart.options.scales.y.min = document.querySelector('#minpower').value;
			myChart.update();
		});

		document.querySelector('#maxpower').addEventListener('change', (event) => {
			myChart.options.scales.y.max = document.querySelector('#maxpower').value;
			myChart.update();
		});


		myChart.update('none');

		console.log({{ powerscore_history|safe }});
	</script>
</body>
</html>